<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An Easy to Use Haiku Generator">
    <meta name="keywords" content="Haiku, AI, Machine-learning, ML, AICamp">
    <meta name="author" content="Asher Wheaton And Isabella Lu">
    <title>hAIku generator</title>

    <link rel = "icon" href="{{url_for('static',filename = 'Images/haikuslogo.png')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename = 'styles.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <!--<nav class = "navbar navbar-expand-sm justify-content-center navbar-custom">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Link 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link 2</a>
            </li>
        </ul>
    </nav>-->
    <div class = "header">
        <img src="{{url_for('static', filename = 'Images/HeaderImage.png')}}" class = "header-image">
        <h1 class = "header-text">Haiku Generator</h1>
    </div>
    <div class = "container mb-3 main">
        <div class = "row">
            <div class = "col-sm-6 mt-3">
                <div class = "container generator genbox d-flex align-items-center flex-column">
                    <input type="text" class="form-control" id = "input" pattern = "[A-Z][a-z]{3}" name = "word" placeholder="Enter Your Word">
                    <h3 id = "output" name = "output">
                      {{output}}
                    </h3>
                    

                    <button onclick = 'generate()' type = "button" class = "btn mt-auto"> write hAIku </button>
<!--         <form name="form" action= method="POST">
                      <textarea
                        placeholder="Enter a prompt"
                        name="prompt"
                        required
                      ></textarea>

                      <button
                        class="button-display"
                        type="submit"
                        id="submit"
                        value="submit"
                      >
                        Generate
                      </button>
                  </form>

                  <textarea
                    readonly
                    placeholder="Generated haiku will appear here..."
                    id="generate"
                  >{{output}}
                  </textarea>             -->
                  
              </div>
        </div>
          
            <div class = "col-sm-6 mt-3">
                <div class = "container genbox about d-flex align-items-center flex-column">
                    <h1>Haiku Generator</h1>
                    <h3>Create AI generated haikus!</h3>
                    <h4>Product Overview:</h4>
                    <h5>The Haiku Generator creates a fun haiku using NLP (in this case a specified GPT-2 model). You can prompt the AI with the first word of the haiku, and the AI will try finish it for you or suggest another</h5>
                    <h4>Why this product?</h4>
                    <h5>The Haiku Generator is fun and easy to use! If you have writer's block or if you just want to read a short poem, the haiku generator has you covered</h5>
                </div>
            </div>
        </div>
    </div>

    <div class = "motivations container-fluid mt-3 d-flex align-items-center flex-column">
        <h1 class = "mt-3">Our Motivations</h1>
        <div class = "motivation m-odd mt-3"><h1>1</h1><p>We wanted to do something with text generation</p></div>
        <div class = "motivation m-even mt-3"><h1>2</h1><p>We like poetry :D</p></div>
        <div class = "motivation m-odd mt-3"><h1>3</h1><p>Haikus are short and stick to a strict outline</p></div>
        <div class = "motivation m-even mt-3"><h1>4</h1><p>Haikus are fun! and its interesting to see a machine create art</p></div>
    </div>

    <div class = "resources container-fluid d-flex align-items-center flex-column">
        <h1 class = "mt-3">Resources</h1>
        <h2>Some things that helped us develop our model</h2>
        <div class = "container bullets">
            <div class = "row">
                <div class = "col-sm-4">
                    <h6>Data</h6>
                    <ul class = "info">
                        <li><a href = "https://github.com/herval/creative_machines/blob/master/haikuzao/src/main/resources/haiku.txt">Haikuzao Dataset</a><br><p>We used the Haikuzao dataset to train our AI model. 
                            However, during the data preprocessing, after condensing each poem into string list items, we had to clean some of the poems due to them being inappropriate.</p></li>
                    </ul>
                </div>
                <div class = "col-sm-4">
                    <h6>Our AI model</h6>
                    <ul class = "info">
                        <li><p>We used GPT-2 by OpenAI for our model! GPT is a deep learning language model that can generate all types of language, from poems to stories that replicate human-like language, by using token to token prediction. </p></li>
                    </ul>
                </div>
                <div class = "col-sm-4">
                    <h6>Understanding GPT-2 + visuals</h6>
                    <ul class = "info">
                        <li><a href="https://jalammar.github.io/illustrated-gpt2/">https://jalammar.github.io/illustrated-gpt2/</a></li>
                        <li><a href="https://towardsdatascience.com/openai-gpt-2-understanding-language-generation-through-visualization-8252f683b2f8">https://towardsdatascience.com/openai-gpt-2-understanding-language-generation-through-visualization-8252f683b2f8</a></li>
                        <li><p>We used these articles to help us understand GPT-2!</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class = "overview">
        <h2 class = "mt-5">A Quick Overview of</h2>
        <h1>GPT-2</h1>
        <div class = "container mt-3 mb-6">
            <div class = "row d-flex">
                <div class = "col-sm-4 mt-3">
                    <div class = "infobox">
                        <img src="{{url_for('static', filename = 'Images/Prediction.png')}}">
                        <h3>Prediction</h3>
                        <p>GPT is a language model that specializes in predicting the next word based on previous context, using masked self attention. (Other models, such as BERT use self attention which allows "fill in the blank " situations.)</p>
                    </div>
                </div>
                <div class = "col-sm-4 mt-3">
                    <div class = "infobox">
                        <img src="{{url_for('static', filename = 'Images/attention.png')}}">
                        <h3>Masked Self Attention</h3>
                        <p>Masked self attention prevents the model from seeing tokens to the right of the position being calculated. 
                            (in the image above, it is at position 4)</p>
                    </div>
                </div>
                <div class = "col-sm-4 mt-3">
                    <div class = "infobox">
                        <img src="{{url_for('static', filename = 'Images/headexample.png')}}">
                        <h3>Layers & Heads</h3>
                        <p>A layer is a decoder, each layer has 12 different mechanisms (heads), for a total of 144 (12x12) attention patterns. These help the AI distribute importance between the relationships of individual words in a sentence. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class = "steps d-flex align-items-center flex-column">
        <div class = "container mt-3 mb-4">
            <div class = "row d-flex">
                <div class = "col-sm-4 mt-3">
                    <div class = "circle">1</div>
                    <p>Picking the function of our generator! We knew we wanted to do something in line with text generation. We ended up choosing to create a haiku generator.</p>
                </div>
                <div class = "col-sm-4 mt-3">
                    <div class = "circle">2</div>
                    <p>Gathering data! We found multiple kaggle datasets but ended up using the Haikuzao dataset on github.</p>
                </div>
                <div class = "col-sm-4 mt-3">
                    <div class = "circle">3</div>
                    <p>Understanding GPT (Generative Pre Training), the core of our model. </p>
                </div>
                <div class = "col-sm-4 mt-3">
                    <div class = "circle">4</div>
                    <p>Training our model on the Haikuzao dataset, modifying settings to adjust the poems.</p>
                </div>
                <div class = "col-sm-4 mt-3">
                    <div class = "circle">5</div>
                    <p>Cleaned some of the haikus in the dataset.</p>
                </div>
                <div class = "col-sm-4 mt-3">
                    <div class = "circle">6</div>
                    <p>Combined the post-processing and the model, to create our final haiku generator.</p>
                </div>
                <div class = "col-sm-4 mt-3">
                    <div class = "circle">7</div>
                    <p>Design a website to house our product and express our ambition.</p>
                </div>
                <div class = "col-sm-4 mt-3">
                    <div class = "circle">8</div>
                    <p>share!</p>
                </div>
            </div>
        </div>
    </div>

    <div class = "problems d-flex align-items-center flex-column">
        <h1>Difficulties Encountered</h1>
        <div class = "container mt-3 mb-6">
            <div class = "row d-flex">
                <div class = "col-sm-6 mt-3">
                    <div class = "problem">
                        <div class = "circle">1</div>
                        <p>Errors and mistakes in code / debugging</p>
                    </div>
                </div>
                <div class = "col-sm-6 mt-3">
                    <div class = "problem">
                        <div class = "circle">2</div>
                        <p>cocalcg8 server being slow, and only tolerating one person running the code at once</p>
                    </div>
                </div>
                <div class = "col-sm-6 mt-3">
                    <div class = "problem">
                        <div class = "circle">3</div>
                        <p>Cocalc3 being slow</p>
                    </div>
                </div>
                <div class = "col-sm-6 mt-3">
                    <div class = "problem">
                        <div class = "circle">4</div>
                        <p>AI is trilingual and some of the haikus in the dataset were not pg-13</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class = "creators d-flex align-items-center flex-column">
        <h1 class = "mt-3 mb-5">Meet The Creators!</h1>

        <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            
            <div class="carousel-inner d-flex">
                <div class="carousel-item active">
                    <div class="creators d-flex align-items-center flex-column">
                        <img src="{{url_for('static', filename = 'Images/Asher.png')}}" alt="Asher">
                        <div class="description"><h1>Asher Wheaton (Lead Coder, Data Scientist, Web-Dev)</h1><p>Hi, I'm Asher, I like finding new projects to work on with friends. From cyber security to conlanging, I like to do it all. I love to code, and have been doing it for years, having started off with python.</p></div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="creators d-flex align-items-center flex-column"><img src="{{url_for('static', filename = 'Images/Isabella.png')}}" alt="Isabella"></div>
                    <div class="description"><h1>Isabella Lu (ML engineer, Web Dev.)</h1><p>Hi, I'm a rising sophomore. I speak both French and English! I love math, computer science, and web design. When I'm not coding, I'm drawing or hanging out with my two cats, Helo and Starbuck.</p></div>
                </div>
                <div class="carousel-item">
                    <div class="creators d-flex align-items-center flex-column"><img src="{{url_for('static', filename = 'Images/John.png')}}" alt="John"></div>
                    <div class="description"><h1>Jay Jackson (Product Manager, Web Dev.)</h1><p>Hi I'm Jay and I like making and achieving new goals, especially those that are difficult. There is no better feeling than triumph and working to achieve it, especially when working with a team as great as this one.</p></div>
                </div>
                <div class="carousel-item">
                    <div class="creators d-flex align-items-center flex-column"><img src="{{url_for('static', filename = 'Images/Soham.png')}}" alt="Soham"></div>
                    <div class="description"><h1>Soham Lahiri (Web dev., Data Scientist)</h1><p>Hi, I am about to go to tenth grade and some of the things I like to do is playing soccer and basketball and of course coding. For this project I helped creating the website and the text generation section.</p></div>
                </div>
                <div class="carousel-item">
                    <div class="creators d-flex align-items-center flex-column"><img src="{{url_for('static', filename = 'Images/Justin.png')}}" alt="Justin"></div>
                    <div class="description"><h1>Justin Yi (Product Manager)</h1><p>Hi I'm Justin and I served as the team's product manager and instructor! I am passionate about education and hold a particular interest in fairness in machine learning</p></div>
                </div>
                <div class="carousel-item">
                    <div class="creators d-flex align-items-center flex-column"><img src="{{url_for('static', filename = 'Images/Annabelle.png')}}" alt="Annabelle"></div>
                    <div class="description"><h1>Annabelle Whittington (Data scientist, Web Dev.)</h1><p>Hi, I’m Anabelle. I'll be starting my freshman year in high school this fall. I hope to go on to have a job in programming. I enjoy reading, hanging out with friends, and learning new things about AI!</p></div>
                </div>
                <div class="carousel-item">
                    <div class="creators d-flex align-items-center flex-column"><img src="{{url_for('static', filename = 'Images/Owen.png')}}" alt="Owen"></div>
                    <div class="description"><h1>Owen Hopp (Data Scientist)</h1><p>Hi I'm Owen, I will be starting my freshman year in autumn of 2021. My hobbies are doing math, physics, and playing the piano for fun or practice. I enjoy hikes, having fun with friends, and science.</p></div>
                </div>
            </div>
            
            <a class="carousel-control-prev control" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next control" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>

    <script>
        function generate() {
            document.getElementById("output").innerHTML = '<div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>'
            location = "{{base_url}}" + document.getElementById("input").value
//             $.ajax({
//                 url: document.getElementById("input").value,
//                 data: {
//                     word: document.getElementById("input").value
//                 },
//                 success: function(haiku) {
//                     document.getElementById("output").innerHTML = haiku
//                     cosole.log(haiku)
//                 }
//             });
        };
    </script>
</body>
</html>